<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>FAQ</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CMerriweather+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center text-sm-left">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-wrap">
              <div class="cssload-container"><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span></div>
            </div>
            <div class="textedit wow fadeIn" data-wow-duration=".88s" data-wow-delay=".2s">
              <h2>Mental Health</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap text-left">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="140px" data-lg-stick-up-offset="140px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="./">Home</a></li>
                    <li class="active"><a href="about.html">About</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="overview.html">Overview</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="insurance.html">Insurance</a></li>
                      </ul>
                    </li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="services.html">Services</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="group-therapy.html">Group therapy</a></li>
                      </ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="single-post.html">Single post</a></li>
                      </ul>
                    </li>
                    <li><a href="site-map.html">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <p class="text-primary">Layouts</p>
                          <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="home-modern.html">Home Modern</a></li>
                            <li><a href="home-creative.html">Home Creative</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="overview.html">Overview</a></li>
                            <li><a href="press.html">Press</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="insurance.html">Insurance</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Elements</p>
                          <ul>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="tabs-and-accordions.html">Tabs & Accordions</a></li>
                            <li><a href="progress-bars.html">Progress bars</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="grid.html">Grid</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Pages 1</p>
                          <ul>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="media-grid.html">Media grid</a></li>
                            <li><a href="search-results.html">Search results</a></li>
                            <li><a href="site-map.html">Site Map</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Pages 2</p>
                          <ul>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="503.html">503 page</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a href="maintenance.html">Maintenance (Under Construction)</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="location.html">Location</a></li>
                  </ul><a class="button button-white" href="schedule.html">Make an appointment</a>
                </div>
              </div><a class="button button-white" href="schedule.html">Make an appointment</a>
            </div>
            <div class="rd-navbar-top-panel">
              <div class="rd-navbar-top-panel-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-brand" src="images/logo_v1-253x56.png" alt="" width="253" height="56"/><img class="fixed-logo" src="images/logo_v1-253x56.png" alt="" width="253" height="56"/></a></div>
                </div>
                <address class="contact-info rd-navbar-collapse align-between">
                  <ul>
                    <li>
                      <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                        <div class="unit__left"><span class="icon fa-home text-gray-light"></span></div>
                        <div class="unit__body">
                          <div class="p"><a class="text-bold text-gray" href="#">227 Marion Street<span class="text-gray-light">Columbia, SC 29201</span></a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                        <div class="unit__left"><span class="icon fa-clock-o text-gray-light"></span></div>
                        <div class="unit__body">
                          <div class="p">
                            <p class="text-bold">Mon - Sat 8.00 - 18.00<span class="text-gray-light">Sunday CLOSED</span></p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                        <div class="unit__left"><span class="icon fa-phone text-gray-light"></span></div>
                        <div class="unit__body">
                          <div class="p"><a class="tel" href="callto:#">1 (800) 123 1234</a></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </address>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs & Page title-->
      <section class="page-title page-about">
        <div class="shell">
          <div class="heading-1 text-gray-light">FAQ</div>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="active">FAQ</li>
          </ul>
        </div>
      </section>

      <section class="section-lg bg-white">
        <div class="shell">
          <h2>FAQ</h2>
          <div class="range range-30 text-left">
            <div class="cell-sm-6">
              <h5 class="question">How does therapy work?</h5>
              <p class="answer">Both individual psychotherapy and couples therapy give you the opportunity to transform your life  by looking at how you are living, thinking, and interacting; and then bringing your behavior in line with your highest aspirations for yourself.</p>
              <h5 class="question">How do I know if I need counseling?</h5>
              <p class="answer">If you are struggling in your life or in your relationship, you could likely benefit from individual or couples therapy. People who come to see me often are tired of going around in circles, sometimes don’t respect how they are living their lives, and want to find solutions for truly getting unstuck.</p>
              <h5 class="question">How frequently do you work with clients?</h5>
              <p class="answer">I usually work with individuals once or twice per week, depending on the specifics of their lives and the issues they are working on. I usually work with couples once a week at first, and then biweekly as they move toward a better relationship.</p>
            </div>
            <div class="cell-sm-6">
              <h5 class="question">Where is your office located?</h5>
              <p class="answer">My office is located on Connecticut Avenue in Washington DC, directly across from the National Zoo in the Woodley Park/Cleveland Park neighborhood. My office is a short walk from the Woodley Park and Cleveland Park stops on the Red Line of the Washington DC Metro.</p>
              <h5 class="question">What happens in a therapy session?</h5>
              <p class="answer">Therapy sessions will begin by going over how successful you were since the previous session in hitting your targets and what difficulties you had.  We will then set an agenda, so we can efficiently use our time.  We will be sure to take stock of why things went well, so it is clear how to ensure things can continue to go well.  We will also utilize interventions to eliminate the existing problems by carefully analyzing them, and develop existing or new skills in order to better manage them in the coming week.</p><a class="button button-primary" href="faq.html">More FAQ</a>
            </div>
          </div>
        </div>
      </section>
      <!-- RD Parallax-->
      <section class="bg-gray-lighter parallax-img-position-02">
        <div class="rd-parallax" data-on="false" data-sm-on="true">
          <div class="rd-parallax-layer" data-speed="0.3" data-type="media" data-url="images/bg-faq-01-1920x720.jpg"></div>
          <div class="rd-parallax-layer" data-speed="0" data-type="html">
            <div class="section-lg">
              <div class="shell">
                <h2>Some of Your Questions</h2>
                <div class="range range-30">
                  <div class="cell-lg-6 cell-md-5 cell-sm-9 cell-xs-10">
                    <ul class="list list-marked list-marked-inset-left">
                      <li class="big"><a class="text-bold" href="#">How does therapy work?</a></li>
                      <li class="big"><a class="text-bold" href="#">What kinds of problems might be addressed in therapy?</a></li>
                      <li class="big"><a class="text-bold" href="#">How frequently do you work with clients?</a></li>
                      <li class="big"><a class="text-bold" href="#">What should I expect in the first session?</a></li>
                    </ul>
                  </div>
                  <div class="cell-lg-6 cell-md-5 cell-sm-9 cell-xs-10">
                    <ul class="list list-marked list-marked-inset-left">
                      <li class="big"><a class="text-bold" href="#">What results can I expect? How long will it take?</a></li>
                      <li class="big"><a class="text-bold" href="#">How do I know if I need counseling?</a></li>
                      <li class="big"><a class="text-bold" href="#">What if I don’t feel comfortable with the therapist?</a></li>
                      <li class="big"><a class="text-bold" href="#">Where is your office located?</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-lg bg-white">
        <div class="shell">
          <h2>All Your Questions</h2>
          <div class="range range-xs-center panel-custom-group-wrap">
            <div class="cell-xs-12">
              <!-- Bootstrap collapse-->
              <div class="panel-custom-group text-left" id="accordion1" role="tablist" aria-multiselectable="true">
                <!-- Bootstrap panel-->
                <div class="panel panel-custom panel-custom-default">
                  <div class="panel-custom-heading" id="accordion1Heading1" role="tab">
                    <p class="panel-custom-title text-bold"><a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse1" aria-controls="accordion1Collapse1" aria-expanded="true">What kinds of problems might be addressed in therapy?</a>
                    </p>
                  </div>
                  <div class="panel-custom-collapse collapse in" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1">
                    <div class="panel-custom-body">
                      <p>Emotional problems, such as anger, anxiety, embarrassment, depression, and shame can be targeted.  Therapy can help to reduce how often you experience these feelings and how intense they are.  As you learn to change your feelings you will become more confident as you feel a sense of control.</p>
                    </div>
                  </div>
                </div>
                <!-- Bootstrap panel-->
                <div class="panel panel-custom panel-custom-default">
                  <div class="panel-custom-heading" id="accordion2Heading2" role="tab">
                    <p class="panel-custom-title text-bold"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse2" aria-controls="accordion2Collapse2">What happens in a therapy session?</a>
                    </p>
                  </div>
                  <div class="panel-custom-collapse collapse" id="accordion2Collapse2" role="tabpanel" aria-labelledby="accordion2Heading2">
                    <div class="panel-custom-body">
                      <p>Therapy sessions will begin by going over how successful you were since the previous session in hitting your targets and what difficulties you had.  We will then set an agenda, so we can efficiently use our time.  We will be sure to take stock of why things went well, so it is clear how to ensure things can continue to go well.</p>
                    </div>
                  </div>
                </div>
                <!-- Bootstrap panel-->
                <div class="panel panel-custom panel-custom-default">
                  <div class="panel-custom-heading" id="accordion3Heading2" role="tab">
                    <p class="panel-custom-title text-bold"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3Collapse2" aria-controls="accordion3Collapse2">How long are the therapy sessions?</a>
                    </p>
                  </div>
                  <div class="panel-custom-collapse collapse" id="accordion3Collapse2" role="tabpanel" aria-labelledby="accordion3Heading2">
                    <div class="panel-custom-body">
                      <p>Individual therapy sessions last 45 minutes.  Although there is a clear agenda and structure, there is still time to explore what is necessary to be sure that the client is really understood.  Given the nature of emotional and behavioral problems, it is critical that the work doesn’t stop after 45 minutes.</p>
                    </div>
                  </div>
                </div>
                <!-- Bootstrap panel-->
                <div class="panel panel-custom panel-custom-default">
                  <div class="panel-custom-heading" id="accordion4Heading2" role="tab">
                    <p class="panel-custom-title text-bold"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion4Collapse2" aria-controls="accordion4Collapse2">What can I discuss in therapy?</a>
                    </p>
                  </div>
                  <div class="panel-custom-collapse collapse" id="accordion4Collapse2" role="tabpanel" aria-labelledby="accordion4Heading2">
                    <div class="panel-custom-body">
                      <p>Anything can be discussed in therapy.  There is great flexibility about topics and existential questions can be the main focus for a particular client.  With that said, we will be goal focused.  If the goal is to come to a greater understanding or acceptance of existential issues, then we will spend the appropriate time on that.</p>
                    </div>
                  </div>
                </div>
                <!-- Bootstrap panel-->
                <div class="panel panel-custom panel-custom-default">
                  <div class="panel-custom-heading" id="accordion5Heading2" role="tab">
                    <p class="panel-custom-title text-bold"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#accordion5Collapse2" aria-controls="accordion5Collapse2">What kinds of therapy do you provide?</a>
                    </p>
                  </div>
                  <div class="panel-custom-collapse collapse" id="accordion5Collapse2" role="tabpanel" aria-labelledby="accordion5Heading2">
                    <div class="panel-custom-body">
                      <p>I am a clinical psychologist and I practice forms of cognitive behavioral therapy (CBT) and behavioral therapy.  These kinds of therapy include Acceptance and Commitment Therapy (ACT), Dialectical Behavior Therapy (DBT), Rational Emotive Behavior Therapy (REBT), Traditional Behavior Therapy, etc.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="footer-default page-footer bg-gray-lighter section-footer-1">
        <div class="shell inset-bottom-60 text-sm-left">
          <div class="range range-30">
            <div class="cell-md-5 cell-xs-12 small-l-h">
              <div class="footer-brand"><a class="brand-name" href="index.html"><img class="logo-brand" src="images/logo_v1-253x56.png" alt="" width="253" height="56"/></a></div>
              <p class="text-footer-default">At MentalHealth, I aim to revive my patients from the current positions in their lives and channel their negative energy to its way out in a well-coordinated manner. I provide professional psychological counselling to everyone.</p>
            </div>
            <div class="cell-md-2 cell-sm-4 cell-xs-12">
              <ul class="large-l-h list-uppercase list-inline">
                <li><a href="./">Home</a></li>
                <li class="active"><a href="about.html">About</a></li>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="site-map.html">Pages</a></li>
                <li><a href="location.html">Location</a></li>
              </ul>
            </div>
            <div class="cell-md-2 cell-sm-4 cell-xs-12">
              <ul class="large-l-h list-uppercase list-inline">
                <li><a href="#">Depression</a></li>
                <li><a href="#">Anxiety</a></li>
                <li><a href="#">Couples</a></li>
                <li><a href="#">Individual</a></li>
                <li><a href="#">Post-divorce</a></li>
                <li><a href="#">Children</a></li>
              </ul>
            </div>
            <div class="cell-md-3 cell-sm-4 cell-xs-12">
              <address class="contact-info">
                <ul>
                  <li>
                    <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                      <div class="unit__left"><span class="icon fa-phone text-gray-light"></span></div>
                      <div class="unit__body">
                        <div class="p"><a class="tel" href="callto:#">1 (800) 123 1234</a></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                      <div class="unit__left"><span class="icon fa-home text-gray-light"></span></div>
                      <div class="unit__body">
                        <div class="p"><a class="text-bold text-gray" href="#">227 Marion Street<span class="text-gray-light">Columbia, SC 29201</span></a></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                      <div class="unit__left"><span class="icon fa-clock-o text-gray-light"></span></div>
                      <div class="unit__body">
                        <div class="p">
                          <p class="text-bold text-gray">Mon - Sat 8.00 - 18.00<span class="text-gray-light">Sunday CLOSED</span></p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </address>
            </div>
          </div>
        </div>
        <div class="footer-panel bg-gray-light text-sm-left">
          <div class="shell">
            <p class="text-family-sec">MentalHealth &#169; <span id="copyright-year"></span>.<a class="text-white" href="privacy-policy.html">&nbsp;Privacy Policy</a></p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>