<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home modern</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CMerriweather+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center text-sm-left">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-wrap">
              <div class="cssload-container"><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span></div>
            </div>
            <div class="textedit wow fadeIn" data-wow-duration=".88s" data-wow-delay=".2s">
              <h2>Mental Health</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-header header-modern">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="80px" data-lg-stick-up-offset="46px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-brand" src="images/logo_v3-254x62.png" alt="" width="254" height="62"/><img class="fixed-logo" src="images/logo_v2-221x44.png" alt="" width="221" height="44"/></a></div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li><a href="about.html">About</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="overview.html">Overview</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="insurance.html">Insurance</a></li>
                      </ul>
                    </li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="services.html">Services</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="group-therapy.html">Group therapy</a></li>
                      </ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="single-post.html">Single post</a></li>
                      </ul>
                    </li>
                    <li><a href="site-map.html">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <p class="text-primary">Layouts</p>
                          <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="home-modern.html">Home Modern</a></li>
                            <li><a href="home-creative.html">Home Creative</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="overview.html">Overview</a></li>
                            <li><a href="press.html">Press</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="insurance.html">Insurance</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Elements</p>
                          <ul>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="tabs-and-accordions.html">Tabs & Accordions</a></li>
                            <li><a href="progress-bars.html">Progress bars</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="grid.html">Grid</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Pages 1</p>
                          <ul>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="media-grid.html">Media grid</a></li>
                            <li><a href="search-results.html">Search results</a></li>
                            <li><a href="site-map.html">Site Map</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Pages 2</p>
                          <ul>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="503.html">503 page</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a href="maintenance.html">Maintenance (Under Construction)</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="location.html">Location</a></li>
                  </ul><a class="button button-white" href="schedule.html">Make an appointment</a>
                </div>
              </div><a class="button button-primary" href="schedule.html">Make an appointment</a>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="swiper-modern">
        <div class="swiper-container swiper-slider text-left" data-slide-effect="fade" data-loop="true" data-autoplay="4000" data-simulate-touch="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-custom-position-01" data-slide-bg="images/bg-slider-03-1920x594.jpg">
              <div class="swiper-slide-caption text-center">
                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">It’s Time to solve your problems.</h1>
                <p class="biger text-bold" data-caption-animate="fadeInUp" data-caption-delay="250">– Kate Smith</p>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/bg-slider-02-1915x594.jpg">
              <div class="swiper-slide-caption text-center">
                <h1 class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="100">Take Сare of your mental health.</h1>
                <p class="biger text-bold text-gray" data-caption-animate="fadeInUp" data-caption-delay="250">– Will McMillan</p>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/bg-slider-01-1920x594.jpg">
              <div class="swiper-slide-caption text-center">
                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Be Smart, help yourself now.</h1>
                <p class="biger text-bold" data-caption-animate="fadeInUp" data-caption-delay="250">– Jane Peterson</p>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination"></div>
          <!-- Swiper Navigation-->
          <div class="swiper-button-prev fa-arrow-left"></div>
          <div class="swiper-button-next fa-arrow-right"></div>
        </div>
      </section>
      <section class="bg-white">
        <div class="shell-fluid bg-home-10 section-lg">
          <div class="range range-30 range-center">
            <div class="cell-sm-6 cell-xs-8">
              <div class="wrap-img hidden-sm hidden-md hidden-lg"><img src="images/home_v3-01-961x559.jpg" alt="" width="961" height="559"/>
              </div>
            </div>
            <div class="cell-sm-6 cell-xs-10">
              <div class="box-inset-01">
                <p class="text-uppercase text-family-sec text-bold">DENNIS RICHARDSON, MCED, MA, LMHP, CPC</p>
                <h3>Welcome to my Clinic</h3>
                <p class="text-gray-light">As a psychologist and a cognitive behavioral therapist I have worked with hundreds of patients and understand the intricacies of various psychological issues that people face. My work revolves around being friendly disciplined and organized yet flexible.  I approach my patients and help them resolve their emotional issues of the past and the present, to open the door to a brighter and confident future.</p>
                <p class="text-family-sec text-gray text-bold">MB, Harvard University</p>
                <p class="text-family-sec text-gray text-bold">MMed, University of Michigan</p>
                <div class="group-sm"><a class="button button-gray-light-sec" href="about.html">Read about me</a><a class="button button-primary" href="services.html">View services</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gray-lighter">
        <div class="shell-fluid shell-inset section-0">
          <div class="range range-condensed">
            <div class="cell-md-6">
              <div class="counter-modern conter-hover-primary counter-border text-center bg-white">
                <div class="counter-wrap counter-default">
                  <div class="custom-wrap">
                    <div class="heading-1"><span class="counter" data-step="3000">33</span></div>
                    <p>years of practice</p>
                  </div>
                </div>
                <div class="counter-wrap counter-default">
                  <div class="custom-wrap">
                    <div class="heading-1"><span class="counter" data-step="1500">987</span></div>
                    <p>happy clients</p>
                  </div>
                </div>
                <div class="counter-wrap counter-default">
                  <div class="custom-wrap">
                    <div class="heading-1"><span class="counter" data-step="1300">14</span></div>
                    <p>books written</p>
                  </div>
                </div>
                <div class="counter-wrap counter-default">
                  <div class="custom-wrap">
                    <div class="heading-1"><span class="counter" data-step="2500">12</span></div>
                    <p>awards won</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-md-6">
              <!-- RD Parallax-->
              <div class="parallax-modern">
                <div class="rd-parallax">
                  <div class="rd-parallax-layer rd-parallax-position" data-speed="0.2" data-type="media" data-url="images/home_v3-02-960x800.jpg"></div>
                  <div class="rd-parallax-layer" data-speed="0" data-type="html">
                    <div class="wrap-height">
                      <div class="box-inset-02 text-xs-left">
                        <p class="biger text-gray text-italic">My treatments will help you change ‘unhelpful patterns’ of beliefs, thinking, feelings and behaviours.</p>
                        <h4>– Will McMillan</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-white text-center">
        <div class="shell-fluid shell-inset section-0">
          <div class="range range-condensed">
            <div class="cell-lg-3 cell-xs-6 reveal-xs-flex">
              <div class="unit unit-sm unit-xs-vertical icon-wrap icon-modern-01">
                <div class="unit__left"><span class="icon icon-sm fa-bell"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Anxiety Therapy</h4>
                    <p>When it comes to treating anxiety disorders, research shows that therapy is usually the most effective option.</p><a class="button button-transparent-sec" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-lg-3 cell-xs-6 reveal-xs-flex">
              <div class="unit unit-sm unit-xs-vertical icon-wrap icon-modern-02">
                <div class="unit__left"><span class="icon icon-sm fa-users"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Group Therapy</h4>
                    <p>Group therapy involves one or more psychologists who lead a group of roughly five to 15 patients.</p><a class="button button-transparent" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-lg-3 cell-xs-6 reveal-xs-flex">
              <div class="unit unit-sm unit-xs-vertical icon-wrap icon-modern-03">
                <div class="unit__left"><span class="icon icon-sm fa-heart"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Couples Therapy</h4>
                    <p>Couples therapy is oriented towards solving the problems the couple is facing with each other.</p><a class="button button-transparent" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-lg-3 cell-xs-6 reveal-xs-flex">
              <div class="unit unit-sm unit-xs-vertical icon-wrap icon-modern-04">
                <div class="unit__left"><span class="icon icon-sm fa-thumbs-down"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Depression Treatment</h4>
                    <p>Depression is a mental illness, which one should not confuse with the short emotional distress.</p><a class="button button-transparent-third" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gray-lighter">
        <div class="shell-fluid bg-img-06 section-lg">
          <div class="range range-30 range-center">
            <div class="cell-md-6 cell-xs-12">
              <div class="wrap-img hidden-md hidden-lg offset-img-03"><img src="images/home_v3-06-1000x846.jpg" alt="" width="1000" height="846"/>
              </div>
            </div>
            <div class="cell-md-6 cell-xs-10 inset-right-130">
              <h2>Testimonials</h2>
              <div class="quote quote-modern">
                <p>
                  <q>Dennis deeply touched my heart during a time in which I so desperately needed someone to support me, regardless of how battered and broken I felt. I am so grateful for knowing his compassion and help.</q>
                </p>
                <div>
                  <h4>
                    <cite>Samantha Green</cite><span>(housewife)</span>
                  </h4><a class="hidden button"></a>
                </div>
              </div>
              <hr class="quote-divider">
              <div class="quote quote-modern">
                <p>
                  <q>I like that you not only listened to what  I said, but really understood how I was feeling. You not only helped me become a stronger person, but a stronger parent as well.  Thanks to you I can now call myself a better parent.</q>
                </p>
                <div>
                  <h4>
                    <cite>John Nelson</cite><span>(manager)</span>
                  </h4><a class="hidden button"></a>
                </div>
              </div>
              <hr class="quote-divider">
              <div class="quote quote-modern">
                <p>
                  <q>At first, I was a little hesitant to meet with a psychologist because of negative past  experiences, but intelligence and compassion of Dennis made me trust him without hesitation. He gave me the tools that have helped me stay on the right path.</q>
                </p>
                <div>
                  <h4>
                    <cite>Sam Tompson</cite><span>(artist)</span>
                  </h4><a class="hidden button"></a>
                </div>
              </div><a class="button button-primary-sec" href="testimonials.html">More testimonials</a>
            </div>
          </div>
        </div>
      </section>
      <!-- RD Parallax-->
      <section class="section-lg bg-white text-center">
        <div class="shell-fluid shell-inset-74">
          <h2>Featured Articles</h2>
          <div class="range text-left">
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-modern" data-items="1" data-sm-items="2" data-lg-items="3" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="true" data-nav="true">
              <div class="owl-item">
                <div class="post"><img src="images/home_v3-03-570x335.jpg" alt="" width="570" height="335"/>
                  <div class="post-inset-03">
                    <time datetime="2017-01-09">March 25, 2017</time>
                    <h4><a class="text-primary" href="single-post.html">Insomnia: Cognitive Behavioral Therapy</a></h4>
                    <p>Cognitive Behavioral Therapy for Insomnia, often called CBT-I, is an approved method for treating insomnia without the use of sleeping pills. Sounds impossible? It isn't.</p>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="post"><img src="images/home_v3-04-570x335.jpg" alt="" width="570" height="335"/>
                  <div class="post-inset-03">
                    <time datetime="2017-01-09">MARCH 20, 2017</time>
                    <h4><a class="text-primary" href="single-post.html">Marriage Counseling and Family Therapy</a></h4>
                    <p>In this article, I will tell you more about  Marriage Counselling and Family Therapy, two most efficient psychology treatment methods for loving couples that I successfully use at MentalHealth.</p>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="post"><img src="images/home_v3-05-570x335.jpg" alt="" width="570" height="335"/>
                  <div class="post-inset-03">
                    <time datetime="2017-01-09">March 15, 2017</time>
                    <h4><a class="text-primary" href="single-post.html">Important Rules for Parenting Teenagers</a></h4>
                    <p>For many parents, the last leg of their journey feels like the hardest of all; as teens rebel against many of the rules, values, and principles that they have been taught, it can easily feel as though all of one’s hard work is slipping away.</p>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="post"><img src="images/home_v3-03-570x335.jpg" alt="" width="570" height="335"/>
                  <div class="post-inset-03">
                    <time datetime="2017-01-09">March 25, 2017</time>
                    <h4><a class="text-primary" href="single-post.html">Insomnia: Cognitive Behavioral Therapy</a></h4>
                    <p>Cognitive Behavioral Therapy for Insomnia, often called CBT-I, is an approved method for treating insomnia without the use of sleeping pills. Sounds impossible? It isn't.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- includes-->
      <footer class="page-footer bg-gray section-footer-2 text-center">
        <div class="shell inset-bottom-40">
          <div class="footer-brand"><a class="brand-name" href="index.html"><img class="logo-brand" src="images/logo_footer_v3-205x103.png" alt="" width="205" height="103"/></a></div>
          <div class="range range-center range-middle range-sm-top range-30">
            <div class="cell-lg-2 cell-md-3 cell-sm-4 cell-xs-6">
              <address class="contact-info">
                <div class="unit unit-vertical unit-spacing-sm unit-xs-top">
                  <div class="unit__left"><span class="icon fa-home text-gray-light"></span></div>
                  <div class="unit__body">
                    <div class="p"><a class="text-bold text-white" href="#">227 Marion Street<br class="veil-xs"><span>Columbia, SC 29201</span></a></div>
                  </div>
                </div>
              </address>
            </div>
            <div class="cell-lg-2 cell-md-3 cell-sm-4 cell-xs-6">
              <address class="contact-info">
                <div class="unit unit-vertical unit-spacing-sm unit-xs-top">
                  <div class="unit__left"><span class="icon fa-clock-o text-gray-light"></span></div>
                  <div class="unit__body">
                    <div class="p">
                      <p class="text-bold text-white">Mon - Sat 8.00 - 18.00<br class="veil-xs"><span class="text-white">Sunday CLOSED</span></p>
                    </div>
                  </div>
                </div>
              </address>
            </div>
            <div class="cell-lg-2 cell-md-3 cell-sm-4 cell-xs-6">
              <address class="contact-info">
                <div class="unit unit-vertical unit-spacing-sm unit-xs-top">
                  <div class="unit__left"><span class="icon fa-phone text-gray-light"></span></div>
                  <div class="unit__body">
                    <div class="p text-bold"><a class="text-white" href="callto:#">1 (800) 123 1234</a></div>
                    <div class="p text-bold"><a class="text-white" href="callto:#">1 (800) 123 125</a></div>
                  </div>
                </div>
              </address>
            </div>
            <div class="cell-sm-12 cell-xs-6">
                    <ul class="list-inline icon-primary">
                      <li><a class="icon fa fa-tumblr-square icon-xxs" href="#"></a></li>
                      <li><a class="icon fa fa-pinterest-p icon-xxs" href="#"></a></li>
                      <li><a class="icon fa fa-soundcloud icon-xxs" href="#"></a></li>
                      <li><a class="icon fa fa-vimeo-square icon-xxs" href="#"></a></li>
                    </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="footer-panel bg-gray">
          <div class="shell">
            <p class="text-family-sec">MentalHealth &#169; <span id="copyright-year"></span>.<a href="privacy-policy.html">&nbsp;Privacy Policy
                <!-- {%FOOTER_LINK}--></a></p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>