<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home creative</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CMerriweather+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center text-sm-left">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-wrap">
              <div class="cssload-container"><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span><span class="cssload-dots"></span></div>
            </div>
            <div class="textedit wow fadeIn" data-wow-duration=".88s" data-wow-delay=".2s">
              <h2>Mental Health</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <!-- includes-->
      <header class="page-header header-creative">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="80px" data-lg-stick-up-offset="46px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo_v2-221x44.png" alt="" width="221" height="44"/></a></div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li><a href="about.html">About</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="overview.html">Overview</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="insurance.html">Insurance</a></li>
                      </ul>
                    </li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="services.html">Services</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="group-therapy.html">Group therapy</a></li>
                      </ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="single-post.html">Single post</a></li>
                      </ul>
                    </li>
                    <li><a href="site-map.html">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <p class="text-primary">Layouts</p>
                          <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="home-modern.html">Home Modern</a></li>
                            <li><a href="home-creative.html">Home Creative</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="overview.html">Overview</a></li>
                            <li><a href="press.html">Press</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="insurance.html">Insurance</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Elements</p>
                          <ul>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="tabs-and-accordions.html">Tabs & Accordions</a></li>
                            <li><a href="progress-bars.html">Progress bars</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="grid.html">Grid</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Pages 1</p>
                          <ul>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="media-grid.html">Media grid</a></li>
                            <li><a href="search-results.html">Search results</a></li>
                            <li><a href="site-map.html">Site Map</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                          </ul>
                        </li>
                        <li>
                          <p class="text-primary">Pages 2</p>
                          <ul>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="503.html">503 page</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a href="maintenance.html">Maintenance (Under Construction)</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="location.html">Location</a></li>
                  </ul><a class="button button-primary" href="schedule.html">Make an appointment</a>
                </div>
                      <ul class="list-inline icon-header rd-navbar-collapse">
                        <li><a class="icon fa fa-tumblr-square icon-xxs" href="#"></a></li>
                        <li><a class="icon fa fa-pinterest-p icon-xxs" href="#"></a></li>
                        <li><a class="icon fa fa-soundcloud icon-xxs" href="#"></a></li>
                        <li><a class="icon fa fa-vimeo-square icon-xxs" href="#"></a></li>
                      </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="swiper-creative">
        <!-- Swiper-->
        <div class="swiper-container swiper-slider text-left" data-slide-effect="fade" data-loop="true" data-autoplay="4000" data-simulate-touch="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="images/bg-slider_v2-02-1920x608.jpg">
              <div class="swiper-slide-caption">
                <div class="shell">
                  <h1 class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="100">Take Сare</h1>
                  <h3 class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="100">of your mental health.</h3>
                  <p class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="250">– Will McMillan</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-custom-position-01" data-slide-bg="images/bg-slider_v2-01-1920x608.jpg">
              <div class="swiper-slide-caption">
                <div class="shell">
                  <h1 class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="100">It’s Time</h1>
                  <h3 class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="100">to solve your problems.</h3>
                  <p class="text-gray" data-caption-animate="fadeInUp" data-caption-delay="250">– Kate Smith</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination"></div>
          <!-- Swiper Navigation-->
          <div class="swiper-button-prev fa-arrow-left"></div>
          <div class="swiper-button-next fa-arrow-right"></div>
        </div>
        <div class="contact-bottom">
          <div class="shell">
            <div class="range range-30">
              <div class="cell-md-3 cell-xs-4">
                <address class="contact-info">
                  <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                    <div class="unit__left"><span class="icon fa-home text-white"></span></div>
                    <div class="unit__body">
                      <div class="p"><a class="text-bold text-white" href="#">227 Marion Street<span>Columbia, SC 29201</span></a></div>
                    </div>
                  </div>
                </address>
              </div>
              <div class="cell-md-3 cell-xs-4">
                <address class="contact-info">
                  <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                    <div class="unit__left"><span class="icon fa-clock-o text-white"></span></div>
                    <div class="unit__body">
                      <div class="p">
                        <p class="text-bold text-white">Mon - Sat 8.00 - 18.00<span class="text-white">Sunday CLOSED</span></p>
                      </div>
                    </div>
                  </div>
                </address>
              </div>
              <div class="cell-md-3 cell-xs-4">
                <address class="contact-info">
                  <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                    <div class="unit__left"><span class="icon fa-phone text-white"></span></div>
                    <div class="unit__body">
                      <div class="p text-bold"><a class="text-white" href="callto:#">1 (800) 123 1234</a></div>
                      <div class="p text-bold"><a class="text-white" href="callto:#">1 (800) 123 1254</a></div>
                    </div>
                  </div>
                </address>
              </div>
              <div class="cell-md-3 cell-sm-0 text-center text-lg-left hidden-xs hidden-sm"><a class="button button-primary visible-md-inline-block visible-lg-inline-block" href="schedule.html">Make an appointment</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-offset">
        <div class="shell bg-white">
          <div class="range range-0 range-center box-border-left">
            <div class="cell-md-4 cell-sm-8">
              <div class="unit unit-sm unit-xs-vertical unit-spacing-xs icon-wrap icon-creative text-center">
                <div class="unit__left"><span class="icon icon-sm fa-bell"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Anxiety Therapy</h4>
                    <p>When it comes to treating anxiety disorders, research shows that therapy is usually the most effective option.</p><a class="button button-white-third" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-md-4 cell-sm-8">
              <div class="unit unit-sm unit-xs-vertical unit-spacing-xs icon-wrap icon-creative text-center">
                <div class="unit__left"><span class="icon icon-sm fa-users"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Group Therapy</h4>
                    <p>Group therapy involves one or more psychologists who lead a group of roughly five to 15 patients.</p><a class="button button-white-third" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-md-4 cell-sm-8">
              <div class="unit unit-sm unit-xs-vertical unit-spacing-xs icon-wrap icon-creative text-center">
                <div class="unit__left"><span class="icon icon-sm fa-heart"></span></div>
                <div class="unit__body">
                  <div class="box-content">
                    <h4>Couples Therapy</h4>
                    <p>Couples therapy is oriented towards solving the problems the couple is facing with each other.</p><a class="button button-white-third" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center">
        <div class="shell bg-gray-light bg-home-08 bg-image section-lg">
          <div class="range range-30 range-center range-md-reverse">
            <div class="cell-md-6 cell-sm-6 cell-xs-8">
              <div class="wrap-img hidden-md hidden-lg"><img src="images/home_v1-01-571x579.jpg" alt="" width="571" height="579"/>
              </div>
            </div>
            <div class="cell-md-6 cell-sm-10 cell-xs-12">
              <div class="box-inset-01">
                <p class="text-uppercase text-family-sec text-bold">DENNIS RICHARDSON, MCED, MA, LMHP, CPC</p>
                <h3 class="text-white">Welcome to my Clinic</h3>
                <p class="text-white">As a psychologist and a cognitive behavioral therapist I have worked with hundreds of patients and understand the intricacies of various psychological issues that people face. My work revolves around being friendly.</p>
                <p class="text-family-sec text-white text-bold">MB, Harvard University</p>
                <p class="text-family-sec text-white text-bold">MMed, University of Michigan</p>
                <div class="group-sm"><a class="button button-white" href="about.html">Read about me</a><a class="button button-primary-sec" href="services.html">View services</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center">
        <div class="shell">
          <div class="range range-0 range-xs-center counter-creative counter-border bg-white">
            <div class="cell-xs-6 cell-md-3">
              <div class="counter-wrap counter-default">
                <div class="custom-wrap">
                  <div class="heading-2"><span class="counter" data-step="3000">33</span></div>
                  <p>years of practice</p>
                </div>
              </div>
            </div>
            <div class="cell-xs-6 cell-md-3">
              <div class="counter-wrap counter-default">
                <div class="custom-wrap">
                  <div class="heading-2"><span class="counter" data-step="2500">12</span></div>
                  <p>awards won</p>
                </div>
              </div>
            </div>
            <div class="cell-xs-6 cell-md-3">
              <div class="counter-wrap counter-default">
                <div class="custom-wrap">
                  <div class="heading-2"><span class="counter" data-step="1500">987</span></div>
                  <p>happy clients</p>
                </div>
              </div>
            </div>
            <div class="cell-xs-6 cell-md-3">
              <div class="counter-wrap counter-default">
                <div class="custom-wrap">
                  <div class="heading-2"><span class="counter" data-step="1300">14</span></div>
                  <p>books written</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="shell bg-white bg-home-09 section-sm">
          <div class="range range-30 range-xs-center">
            <div class="cell-sm-5 cell-xs-8">
              <div class="wrap-img veil-sm"><img src="images/home_v2-01-392x392.jpg" alt="" width="392" height="392"/>
              </div>
            </div>
            <div class="cell-sm-7">
              <h3>Testimonials</h3>
              <div class="quote quote-creative">
                <p>
                  <q>Dennis deeply touched my heart during a time in which I so desperately needed someone to support me, regardless of how battered and broken I felt.</q>
                </p>
                <div class="group-end">
                  <h4>
                    <cite>Samantha Green</cite><span>(housewife)</span>
                  </h4><a class="button-primary button" href="testimonials.html">More testimonials</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center">
        <div class="shell shell-inset section-owl bg-gray-light">
          <h3 class="text-white">Featured Articles</h3>
          <time datetime="2017-01-09">spring 2017</time>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-creative" data-items="1" data-sm-items="2" data-lg-items="3" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="true" data-nav="true">
            <div class="owl-item">
              <div class="post post-default post-border">
                <div class="post-inset-01">
                  <time datetime="2017-01-09">March 25, 2017</time>
                  <h6><a href="single-post.html">Insomnia: Cognitive Behavioral Therapy</a></h6>
                </div>
                <div class="wrap-img"><img src="images/home_v2-03-390x237.jpg" alt="" width="390" height="237"/>
                </div>
                <div class="post-inset-02">
                  <p>Cognitive Behavioral Therapy for Insomnia, often called CBT-I, is an approved method for treating insomnia without the use of sleeping pills. Sounds impossible? It isn't.</p><a class="button button-primary" href="single-post.html">Read article</a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="post post-default post-border">
                <div class="post-inset-01">
                  <time datetime="2017-01-09">March 14, 2017</time>
                  <h6><a href="single-post.html">Marriage Counseling and Family Therapy</a></h6>
                </div>
                <div class="wrap-img"><img src="images/home_v2-04-390x237.jpg" alt="" width="390" height="237"/>
                </div>
                <div class="post-inset-02">
                  <p>In this article, I will tell you more about Marriage Counselling and Family Therapy, two most efficient psychology treatment methods for loving couples.</p><a class="button button-primary" href="single-post.html">Read article</a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="post post-default post-border">
                <div class="post-inset-01">
                  <time datetime="2017-01-09">March 7, 2017</time>
                  <h6><a href="single-post.html">Important Rules for Parenting Teenagers</a></h6>
                </div>
                <div class="wrap-img"><img src="images/home_v2-05-390x237.jpg" alt="" width="390" height="237"/>
                </div>
                <div class="post-inset-02">
                  <p>For many parents, the last leg of their journey feels like the hardest of all; when teens rebel against many of the rules, values, and principles that they have been taught.</p><a class="button button-primary" href="single-post.html">Read article</a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="post post-default post-border">
                <div class="post-inset-01">
                  <time datetime="2017-01-09">March 25, 2017</time>
                  <h6><a href="single-post.html">Insomnia: Cognitive Behavioral Therapy</a></h6>
                </div>
                <div class="wrap-img"><img src="images/home_v2-03-390x237.jpg" alt="" width="390" height="237"/>
                </div>
                <div class="post-inset-02">
                  <p>Cognitive Behavioral Therapy for Insomnia, often called CBT-I, is an approved method for treating insomnia without the use of sleeping pills. Sounds impossible? It isn't.</p><a class="button button-primary" href="single-post.html">Read article</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-md section-offset-02 bg-white text-center form-submission">
        <div class="shell">
          <div class="range range-30 range-center range-middle range-xs-center small-l-h">
            <div class="cell-xs-12">
              <h3>Newsletter</h3>
              <p class="text-uppercase text-family-sec text-bold">Keep up with the latest news and events</p>
            </div>
            <div class="cell-lg-6 cell-md-7 cell-sm-8">
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform-inline text-left form-long" data-form-output="form-output-global" data-form-type="forms" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <label class="form-label" for="inline-email">Enter your email&nbsp;<span class="hidden-xs">here</span></label>
                  <input class="form-input form-icon input-bg-white" id="inline-email" type="email" name="email" data-constraints="@Email @Required">
                  <button class="icon fa-envelope text-primary" type="submit"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- includes-->
      <footer class="footer-creative page-footer bg-gray-lighter section-footer-2 text-md-left">
        <div class="shell inset-bottom-40">
          <div class="range range-30 range-middle range-xs-bottom range-sm-middle">
            <div class="cell-lg-3 cell-sm-4 cell-xs-6">
              <address class="contact-info">
                <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                  <div class="unit__left"><span class="icon fa-home text-gray-light"></span></div>
                  <div class="unit__body">
                    <div class="p"><a class="text-bold text-gray" href="#">227 Marion Street<span class="text-gray-light">Columbia, SC 29201</span></a></div>
                  </div>
                </div>
              </address>
            </div>
            <div class="cell-lg-3 cell-sm-4 cell-xs-6">
              <address class="contact-info">
                <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                  <div class="unit__left"><span class="icon fa-clock-o text-gray-light"></span></div>
                  <div class="unit__body">
                    <div class="p">
                      <p class="text-bold text-gray">Mon - Sat 8.00 - 18.00<span class="text-gray-light">Sunday CLOSED</span></p>
                    </div>
                  </div>
                </div>
              </address>
            </div>
            <div class="cell-lg-3 cell-sm-4 cell-xs-6">
              <address class="contact-info">
                <div class="unit unit-vertical unit-sm-horizontal unit-spacing-xs unit-xs-top">
                  <div class="unit__left"><span class="icon fa-phone text-gray-light"></span></div>
                  <div class="unit__body">
                    <div class="p text-bold"><a class="text-gray" href="callto:#">1 (800) 123 1234</a></div>
                    <div class="p text-bold"><a class="text-gray" href="callto:#">1 (800) 123 1254</a></div>
                  </div>
                </div>
              </address>
            </div>
            <div class="cell-lg-3 cell-sm-12 cell-xs-6 text-center text-lg-left"><a class="button button-primary-sec" href="schedule.html">Make an appointment</a></div>
          </div>
        </div>
        <div class="footer-panel bg-gray-light">
          <div class="shell">
            <div class="group-middle">
              <p class="text-family-sec">MentalHealth &#169; <span id="copyright-year"></span>.<a class="text-white" href="privacy-policy.html">&nbsp;Privacy Policy
                  <!-- {%FOOTER_LINK}--></a></p>
                    <ul class="list-inline icon-header">
                      <li><a class="icon fa fa-tumblr-square icon-xxs" href="#"></a></li>
                      <li><a class="icon fa fa-pinterest-p icon-xxs" href="#"></a></li>
                      <li><a class="icon fa fa-soundcloud icon-xxs" href="#"></a></li>
                      <li><a class="icon fa fa-vimeo-square icon-xxs" href="#"></a></li>
                    </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>